/* Кнопка «воспроизведение/пауза». */
.controls_play {
    padding: 5px 10px;
    background: #fff;
    border: 1px #aaa solid;
    cursor: pointer;
}
.controls_play:hover {
    border-color: #666;
}
/* Настройка контейнера с Flash-апплетом. */
.overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
/* Класс .overlay_hidden необходим для того, чтобы
   скрыть div-контейнер с Flash-апплетом. */
.overlay_hidden {
    display: none;
}
/* Класс для отображения ошибки при блокировке Flash-апплета. */
.overlay_error {
    background: #ffcccc;
    color: #ff0000;
}
