.appWrapper {
    display: grid;
    grid-template-areas:
            "header header header header header "
            " . menu  content content  ."
            " . footer content content  .";
    grid-template-columns:  2fr 1fr 6fr 1fr  2fr ;
    grid-template-rows:  42px 8fr 1fr ;
    background: #edeef0;
    height: 100vh;
    margin: 0;
    justify-content: center;
}
.appHeader {
    grid-area: header;
    width: 100%;
    height: 42px;
    position: fixed;
    background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);

}
.appMenu {
    grid-area: menu;
    margin: 10px 0;
    background-color: white;
    text-align: center;
}
.appContent {
    grid-area: content;
    margin: 10px 0 0 10px;
    background-color: white;
    overflow: auto;
}
.appFooter {
    grid-area: footer;
    bottom: 0;
    background-color: white;
}



