/*
.dialogs {
    display: grid;

    grid-template-columns: 2fr 8fr;
}

.dialogsItems {
    padding: 10px;
    color: #fff27f;
}

.dialogsItems .active {
    color: white;
}

.messages {
    padding: 10px;
}

.message .messages {
    color: white;
}*/
